body, h1, p 
{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

li {
    float: right;
    height: 100%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
  }

li a:hover {
    color: black;
    background-color: white;
}
  

img {
    height: inherit;
}

.header {
    background-color: black;
    height: 60px;
    padding: 5px 20px;
}


h1{
    padding: 30px;
    text-align: center;
 }
